ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
td.javitabla {
  width: 50%;
}
    
h1.title {
  text-align: center;
  font-family: Spectral, serif;
  font-size: 50px;
}
p.title2 {
   text-align: center;
  font-family: Spectral, serif;
  font-size: 25px;
  text-decoration-line:underline;
}
.column {
   float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}
.fooster { 
   background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
h1.one {
  padding: 20px 30px; 
}
p{
  font-family:Rubik;
  font-size:17px;
}

div.javidivs {
  text-align: left;
  font-family: Spectral, serif;
}

* {
  box-sizing: border-box;
}
body {
  background-color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;


  
* {
  box-sizing: border-box;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
}


.column2 {
  float: left;
  width: 33.33%;
  padding: 10px;
  
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


@media (max-width: 600px) {
  .column {
    width: 100%;
  }
