* {
    box-sizing: border-box;
}
*, html {
    scroll-behavior: smooth !important;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.containerr{
    max-width: 1400px;
    margin: auto;
	padding: 60px;
}
body{
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h1.david {
  text-align: center;
  font-family: Spectral, serif;
  font-size: 50px;
}
header {
    background-color: rgb(245, 245, 245);
    width: 100%;
    
    }
   
 header .logo{
    margin: 0;
    font-size: 25px;
    border:2px solid rgb(139,69,19);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: rgb(205,133,63);
 }   
 header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
	
 }
 header nav{
    display: flex;
    flex-direction: row;
    gap: 12px;
      }
header .a1{
    text-decoration: none;
    color: rgb(205,133,63);
    font-size: 20px;
}
header a:hover{
    background-color: transparent;
    color: rgb(139,69,19);
  border-color: rgb(222,184,135);
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  box-shadow: none;
}
.container1{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 250px 12px;
    gap: 30px;
    
    
    
}
.parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: initial;
    max-width: 600px;
    padding-left: 50px;
}
p.hey{
    font-size: 20px;
}
.container2{
    max-width: 100%;
    margin: auto;
    background-image: url("images/madera.jpg");
    color: white;
    width: 100%;
    padding: 80px 80px 200px 80px;
    text-align: center;
   
}
p.colo{
    color: black;
    border: 1px solid black;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 40px;
}
.ejemplo{
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 100px;
   
}
.carta:first-child{
    max-width: 300px;
    height: 400px;
    background-image: linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5) 
    )
    ,url("images/madera3.jpg");
    text-align: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding:0 10px;
    border: 1px solid white;
   
    
}
.carta:nth-child(2){
      max-width: 300px;
      background-image: linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5) 
    )
    ,url("images/madera\ 2.jpg");
    text-align: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 15px;
    padding:0 10px;
    gap: 30px;
  
}
.carta:nth-child(3){
    max-width: 300px;
    background-image: linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5) 
    )
    ,url("images/madera4.jpg");
    text-align: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding:0 10px;
    border: 1px solid white;
}
.carta:hover{
    transform: scale(1.2);
}
button.boton1{

    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba (0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(222,184,135);
}

button.boton1:hover{
    background-color:rgb(139,69,19) ;
    color: white;
}
ul{
    list-style: none;
    
}
.nevo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 250px 0px;
    gap: 200px;
    align-items: center;
}
.nuevo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 40px 20px 10px;
}
li.nol{
   padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
img.aparece:hover{
    animation: fadeIn 3s ease;
}
@keyframes fadeIn {
    0% { opacity: 0;
    filter: blur(20px)
}
    10% {
        opacity: 1;
        filter:brightness(2) blur(10px)
    }
}
.mike{
    width: 100%;
    background-image: url("images/madera.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px;
    gap: 50px;
    align-items: center;
}
.switch{
    width: auto;
    display: flex;
    flex-direction: row;
    gap:20px;
    border: 1px solid black;
    border-radius: 5px;
   
}
.texto{
    text-align:initial;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
box-shadow: 5px 5px 5px 5px black;
    background-image: linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5) 
    )
    ,url("images/madera4.avif");
    color: white;
}
.texto:hover{
    transform: scale(1.1);
}
.tienda{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 200px 0px;
    gap: 50px;
    font-size: 25px;
}

.titulo{
    padding-right: 5px;
    margin: 0%;
}

.objeto{
    max-width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 80px 80px 80px;
    border: 1px solid black;
    border-radius: 7px;
    gap: 70px;
}

.objeto:hover{
    transform: scale(1.1);
}

img.compra{
    border-bottom: 1px solid black;
    padding-bottom: 20px ;
}

button.final{
    
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #4CBB17;
    box-shadow: 2px 2px 10px #009000;
    color: white;
    background-color: #00FF40;
    padding: 20px;
    
}




button.final:hover{
    background-image: url(images/WOW.gif);
    transform: scale(1.2);
}

.textf {
    font-size: 25px;
    white-space: nowrap;

}	

divh2 {
	font-size:30px;
	font-family: Spectral, serif;
	background-color:white;
	padding:20px;
}

	divh {
	font-size:30px;
	font-family: Spectral, serif;
	background-color: #cc8534;
	padding:20px;
	color:white;
}

	.container101{
    
    background-image: url(images/imagendefondomac.JPG);
    color: black;
    font-size: 40px;
    flex-direction: row;
    padding: 250px 12px;
    gap: 30px;
    text-align: center;
}
.parrafo101 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: initial;
    max-width: 1400px;
    padding-left: 50px;
    background-color: FFCBA0;
}

.container202{
    max-width: 100%;
    margin: auto;
    background-color: FFE1B0;
    color: black;
    width: 100%;
    padding: 80px 80px 200px 80px;
    text-align: center;

}
.carta1:first-child{
    max-width: 300px;
    height: 400px;
    background-color: FFCBA0;
    text-align: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding:0 10px;
    border: 1px solid white;
   
    
}



.carta1:nth-child(2){
      max-width: 300px;
      background-color: FFCBA0;
    text-align: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 15px;
    padding:0 10px;
    gap: 30px;
   
}


.carta1:nth-child(3){
    max-width: 300px;
    background-color: FFCBA0;
    text-align: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding:0 10px;
    border: 1px solid white;
}
.nevo101{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 250px 0px;
    gap: 200px;
    align-items: center;
    background-color: FFE1B0;
}
.tienda101{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 200px 0px;
    gap: 50px;
    font-size: 25px;
    background-color: FFE1B0 ;
  }
.objeto101{
    max-width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 80px 80px 80px;
    border: 1px solid black;
    border-radius: 7px;
    gap: 70px;
    background-color: FFCBA0;
}
ul.a101 {
  list-style-type: circle;
}
.fmenu{
    width: 100%;
    margin: auto;
    display: flex;
    padding: 300px 50px;
    gap: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.fimagen{
    width: 700px;
    height: 394px;
    border: 2px solid whitesmoke;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.ftexto{
    display: flex;
    flex-direction: column;
    max-width: 630px;
    gap: 20px;
    align-items: initial;
    
    

}

h1.ftitulo{
    margin: 0%;
   
    border-bottom: 1px solid black;
    width:fit-content;
    white-space: nowrap;
    
}

p.fp{
    font-size: 20px;
    
}

button.fboton{ 
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid rgba (0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(222,184,135);
    width: fit-content;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button.fboton:hover{
    background-color: transparent;
    color: rgb(139,69,19);
  border-color: rgb(222,184,135);
  box-shadow: none;
}

.contenedorefct{
    width: 100%;
    background-color: #d6d5cb;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.subcontenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 50px;
}


.efecto{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border: 8px solid white;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.efecto:hover{
    transform: scale(1.1);
}
.img-efecto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-bodytexto{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;    
}

.efecto:hover .card-bodytexto{
    right: 0;
}

.card-tilte{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    padding-top: 40px;
    text-align: left;

}


.card-subtitle{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
    margin: 0%;
    padding-top: 5px;
    text-align: left;
}

.card-informarcion{
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0px;
    font-weight: 400;
    text-align:left
}



p.textocentral{
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 2px 2px;
    border-bottom:6px solid white;
    width: fit-content;
    
    
}

	li.flista{
    padding: 5px;
     font-size: 18px;

 }

 .container-lista{
    max-width: 900px;
    height: fit-content;
    border: 2px solid black;
    padding: 5px;
    text-align: initial;
    justify-content: center;
    margin-top: 20px;

 }

.container-lista:hover{
	 transform: scale(1.2);
}

 img.fimagenfinal{
    width: 500px;
    height: 700px;
    border: 2px solid whitesmoke;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    justify-content: center;

 }

 .ftexto5{
    display: flex;
    flex-direction: column;
    max-width: 630px;
    gap: 50px;
    margin-top: 100px;
   

 }

 button.butondecompra{
    
        font-size: 28px;
        font-weight: bold;
        padding: 15px 20px;
        border-radius: 5px;
        border: 2px solid #4CBB17;
        box-shadow: 2px 2px 10px #009000;
        color: white;
        background-color: #00FF40;
        width: fit-content;
        margin: 50px 220px;
	white-space: nowrap;
        
        
    }
    
    
    
    button.butondecompra:hover{
        background-image: url(images/WOW.gif);
        transform: scale(1.2);
	white-space: nowrap;
    }
